
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
}
img {
	vertical-align:top;
}
embed {
	vertical-align:top;
}
table {
		font-family: "Lato","sans-serif";	}		/* added custom font-family  */

	table caption {
		padding-bottom: 1em;		}

	
/* --------------TABLE ONE ATTRIBUTES-----------------  */

	table {									 
	margin-bottom: 3em;	
	border-collapse:collapse;
	display: inline-block;
	margin-right: 3em;		}	

	
	table td {								
	text-align: center; 
	font-size:20px; 
	letter-spacing:2px;   
	width: 20em;					
	padding: 6px; 		}		


	table th {								
	text-align: center;					
	padding: 1em;
	color: white;		}			      

	table tr {	
	
hover{background-color:#0099FF};

	height: 1em;	}

	